!gradle-wrapper.jar
*.class
*.ear
*.iml
*.iws
*.jar
*.war
*~
.gradle
.gradletasknamecache
.idea/
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dictionaries
.idea/dynamic.xml
.idea/gradle.xml
.idea/jsLibraryMappings.xml
.idea/libraries
.idea/mongoSettings.xml
.idea/sqlDataSources.xml
.idea/tasks.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
.idea_modules/
.mtj.tmp/
.mvn/timing.properties
.netrwhist
/out/
Session.vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
atlassian-ide-plugin.xml
build/
buildNumber.properties
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
dependency-reduced-pom.xml
fabric.properties
gradle-app.setting
hs_err_pid*
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
tags
target/

